body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CEB5A7;
    justify-content: center;
}

/* The header for the webpage */

.heading-container {
    text-align: center;
    height: 13vh;
    margin-bottom: 10px;
    flex-direction: column;
    color: #4B543B;
}

.heading-container > h3 {
    color: lightgoldenrodyellow;
}

h1 {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1.5px solid #4B543B;
    padding-bottom: 2px;
    width: 300px;
}

/* constainer for the entire quiz */
.app {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #E0F2E9;
    border: 2px solid #A17C6B;
    height: 83.5vh;
    width: 98vw;
    
}

/* quiz container */
.quiz {
    border: 2px solid #A17C6B;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    height: auto;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #CEB5A7;
}

/* the question */
#question {
    border-bottom: 1px solid #4B543B; 
    color: #051017;
    /* margin-top: 50px; */
    margin-bottom: 6px;
    color: #4B543B;
    padding-bottom: 5px;
    
}

 /* button container */
 #answer-buttons { 
    margin-top: auto;
    margin-bottom: auto;
} 

/* the actual buttons */
.btn {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #E0F2E9;
    color: #4B543B;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #A17C6B;
    border-style: outset;
    margin-bottom: 1em;
    padding-top: -100px;
}

/* Adding a hover effect to show which one you are selecting */
.label-string:hover {
    color: #4B543B;
    font-weight: 1000;
}

