* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: row;
    font-family: orbitron;
    letter-spacing: 1px;
}

/* body styling */
body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/StarWars\ Galaxys\ Edge\ Pexels.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* container for quiz & everything in it */
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
    opacity: 1;
    backdrop-filter: blur(10px);
    padding: 30px;
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 0 0 15px lightgray;
}

.heading {
    text-align: center;
    font-size: 40px; 
    font-weight: 650;
    margin-bottom: 50px;
    border-bottom: 1.5px solid lightcyan; 
    padding-bottom: 10px;
    color: black; 
    text-shadow: 0 0 10px white;
}

label {
    display: block;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 3px;
    color: lightcyan;
}

.instruct-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
    color: black;
    border-bottom: 1px solid lightcyan;
    text-shadow: 0 0 9px white; 
    font-size: larger;
    font-weight: 500;
}

.instruct-cont:hover {
    transition: all 0.5s;
    font-size: x-large;
    cursor: zoom-in;
    font-weight: 600;
    color: black;
    background-color: lightcyan;
    padding: 5px;
    border-radius: 10px;
}

.instruct-cont ul:hover {
    list-style-type: none;
}

/* Styling of all the buttons added */
.btn {
    width: 100%;
    height: 60px;
    background-color: lightcyan;
    border-radius: 10px;
    border-color: #e0ffff;
    box-shadow: 0 0 10px #d3d3d3;
    font-size: 20;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    color: lightcyan;
    background-color: #C2AFF0;
    border-color: #C2AFF0;
    font-weight: 700;
    font-size: larger;
}

/* Button styling end */

/* controls if & when things are hidden */
.hide {
    display: none;
}

/* Styling for all questions & answers */
.question-wrapper .number {
    color: black; 
    font-size: 25px;
    font-weight: 650;
    margin-bottom: 20px;
    text-shadow: 0 0 9px white; 
}

.question-wrapper .number .total {
    color: black; 
    font-size: 18px;
    font-weight: 700;
}

.question-wrapper .question {
    color: lightcyan;
    font-size: 20px;
    font-weight: 530;
    margin-bottom: 20px;
}

.question:hover {
    font-size: xx-large;
    font-weight: 600;
    color: black;
    transition: all 0.5s;
    cursor: zoom-in;
    border-radius: 10px;
    box-shadow: 0 0 20px white;
    background-color: lightcyan;
    padding-left: 5px;
}

.answer-wrapper .answer {
    width: 100%;
    height: 60px;
    padding: 20px;
    color: black;
    border: 2px solid lightcyan;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s linear;
    font-size: medium;
    font-weight: 500;
    background-color: lightcyan;
    opacity: 1;
    backdrop-filter: blur(10px);
}

.answer .checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    color: #8FF7A7; /* Keep color */
    font-size: 12px;
}

.answer .checkbox .icon {
    opacity: 0;
}

.answer:hover .checkbox, 
.answer.selected .checkbox {
    background-color: #8FF7A7;  
    border-color: #C2AFF0; 
}

.answer .answer.selected .checkbox .icon {
    opacity: 1; 
}

.question-wrapper, 
.answer-wrapper {
    margin-bottom: 50px;

}
/* Styling for questions & answers end */


/* End screen styling start */
.end-screen .score {
    color: black;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;
    background-color: lightcyan;
    border-radius: 10px;
}

.end-screen .score-text {
    color: black;
    background-color: lightcyan;
    font-size: 16px;
    margin-bottom: 120px;
    padding-bottom: 10px;
}
/* End screen complete */

/* optimized for iphone */
@media (max-width: 375px) {
    .container {
        min-height: 100vh;
        max-width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 812px) {
    .container {
        min-height: 100vh;
        max-width: 100%;
        border-radius: 0;
    }
}
